@page "/hola"
@rendermode InteractiveServer
@using HolaBlazor.Entidades

<h1>Listado de personas</h1>
<ul>
    @foreach (var p in lista)
    {
        <li>@p.Apellido, @p.Nombre (@p.Edad)</li>
    }
</ul>
<input @ref="input_01" placeholder="Nombre" @bind="p.Nombre" /><br>
<input placeholder="Apellido" @bind="p.Apellido" /><br>
<input type="number" placeholder="Edad" @bind="p.Edad" /><br>
<button @onclick="Agregar">Agregar</button>

@code {
    List<Persona> lista = Persona.GetLista();
    ElementReference input_01;
    Persona p = new Persona();
    void Agregar()
    {
        lista.Add(p);
        p = new Persona();
        input_01.FocusAsync();
    }
}